img{
    padding-top: 10px;
    width: 150px;
    height: 100px;
}

.alignment{    
    text-align: left;
    font-size: 16px;
    margin: 1px 10px;
    color: #282A36;;
    
}

.styling{
    width: 225px;
    height: 225px;
    border-radius: 25px;
    background-color: #d3f5b6;
    margin: 25px;
    padding: 10px;
    float: left;
    
}

a:link, a:visited, a:active{
    text-decoration: none;
}

#title{
    font-size: 18px;
    text-align: left;
    margin: 1px 10px;
    color: #282A36;;
    transition:all 0.4s ease-in-out;
}

#title:hover{
    font-size: 19px;
    color: #767b99;;
}