.loginStyling{
    position: absolute;
    max-width:560px;
    width: 80%;
    height: 400px;
    margin-left: 20%;
}

.loginHeading{
    width: 80%;
    text-align: center;
    margin-left: 10%;
}


.loginForm{
    font-size: larger;
}

.loginDiv{
    width: 80%;
    padding: 10px;
    margin-left: 10%;
    margin-top: 12px;
    border: 1px solid #ccc;
    background-color: white;
    color: grey;
    border-radius: 12px;
    box-sizing: border-box;
    resize: vertical;
}

.registerLink{
    float: left;
    font-weight: normal;
    margin: 20px;
    margin-left: 10%;
}

.registerSwitch{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    float: right;
    margin: 20px;
    margin-right: 10%;
    vertical-align: middle;
}

.switchStyling{
    margin-top: 12px;
    display: inline;
}

.blue_to_green{
    width: 10%;
    height: 100%;
    float: left;
    background: rgb(3,238,56);
    background: linear-gradient(0deg, rgba(3,238,56,1) 0%, rgba(61,61,167,1) 56%, rgba(0,212,255,1) 100%);
}


input[id=username], input[id=password]{
    width: 80%;
    padding: 10px;
    margin-left: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: grey;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
    outline: none;
}

input[id=loginSubmit]{
    width: 30%;
    margin-left: 35%;
    margin-top: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #99e755;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
    text-align: center;
    
}

@media (max-width: 470px){
    .switchStyling{
        display: block;
        
    }
    .registerSwitch{
        float: none;
        margin-top: 0px;
        margin-left: 10%;
    }
    .registerLink{
        float: none;
        margin-bottom: 12px;
    }

}
