.expandableForumPost {
    position: relative;
    width: 300px;
    height: 300px;
    background: #D3f5b6;
    border: 1px solid green ;
    border-radius: 25px;
    position: relative;
    margin-bottom: 40px;
    font-family: 'Inter', Tahoma, sans-serif;   
    transition: width 1s, height 1s;
    padding: 10px;

  }

.expandableForumPost--active {
  height: 500px;
  
}
  
.forumPostButton {
    display: block;
    position: absolute;
    bottom:10px; 
    left: 44%;
    border: none;
    color: none;
    background-color: Transparent;
    font-size: 20px;
    font-weight: bold;
}

.forumPostButton--active {
  transform: rotate(180deg);
}

.author{    
  text-align: left;
  font-size: 16px;
  margin: 1px;
  
}

.date{    
  text-align: left;
  font-size: 16px;
  margin: 1px;
  
}

.description{    
  text-align: left;
  font-size: 16px;
  margin: 1px;
  
}