.registerLogo{
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.registerStyling{
    display: inline-block;
    width: 550px;
    height: 600px;
    border-radius: 25px;
    background-color: #282c34;
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;  
    color: white; 
    font-family: 'Inter', Tahoma, sans-serif;  
}

.registerIntro{
    padding: 10px;
    margin-left: auto;
    text-align: center;
}

.registerHeading{
    margin-top: 8px;
    text-align: center;
}

.registerForm{
    font-size: larger;
}

.logInLink{
    float: left;
    font-weight: normal;
    margin: 12px;
}

.registerDiv{
    position:relative;
    width: 60%;
    padding: 12px;
    margin: 12px auto;
    border: 1px solid #ccc;
    background-color: white;
    color: grey;
    border-radius: 12px;
    box-sizing: border-box;
    resize: vertical;
}


.loginSwitch{
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: none;
    float: right;
    margin: 12px;
    vertical-align: middle;
}

.switchToLogin{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}

input[id=registerName], input[id=registerEmail], 
input[id=registerPassword]{
    width: 85%;
    padding: 12px;
    margin-left: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: grey;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
}

input[id=registerSubmit]{
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #99e755;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;  
    width: 20%;  
    text-align: center;
    
}
