.loginDesign{
    position: relative;
    float:left;
    background: linear-gradient(
        var(--primary-green, rgb(106, 235, 80)),
        rgb(89, 201, 209));
    width: 20%;
    height: 325px;
    border-radius: 25px 0 0 25px;
}
.loginHeaderDiv{
    position: absolute;
    max-width: 700px;
    width: 100%;
}

.signInBackground{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    background-color: #282c34;
    color: white; 
    font-family: 'Inter', Tahoma, sans-serif; 
}

.signInBackground--loginMode{
    position: relative;
    max-width: 700px;
    width: 90%;
    height: 325px;
}

.signInBackground--registerMode{
    max-width: 550px;
    width: 70%;
    height: 530px;
    padding: 10px; 
}

@media (max-width: 790px){
    .signInBackground--loginMode{
        height: 340px;
    }

    .loginDesign{
        height: 340px;
    }
}

@media (max-width: 640px){
    .signInBackground--loginMode{
        height: 370px;
    }

    .loginDesign{
        height: 370px;
    }
}

@media (max-width: 530px){
    .signInBackground--registerMode{
        height: 600px;
    }
}
@media (max-width: 480px){
    .signInBackground--registerMode{
        height: 670px;
    }
}

@media (max-width: 370px){
    .signInBackground--registerMode{
        height: 690px;
    }
}