.loginDesign{
    position: relative;
    float:left;
    background: rgb(35,100,204);
    background: linear-gradient(0deg, rgba(35,100,204,1) 0%, rgba(16,157,147,1) 61%, rgba(36,241,31,1) 100%);
    width: 20%;
    height: 350px;
    border-radius: 25px 0 0 25px;
}
.loginHeaderDiv{
    position: absolute;
    max-width: 700px;
    width: 100%;
}

.signInBackground{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 25px;
    background-color: #282c34;
    color: white; 
    font-family: 'Inter', Tahoma, sans-serif; 
}

.signInBackground--loginMode{
    position: relative;
    max-width: 700px;
    width: 90%;
    height: 350px;
}

.signInBackground--registerMode{
    max-width: 550px;
    width: 70%;
    height: 530px;
    padding: 10px; 
}


@media (max-width: 530px){
    .signInBackground--registerMode{
        height: 600px;
    }
}
@media (max-width: 480px){
    .signInBackground--registerMode{
        height: 670px;
    }
}

@media (max-width: 370px){
    .signInBackground--registerMode{
        height: 690px;
    }
}