.sectionContent li {
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 0px;
}

@media (max-width: 600px) {
  .sectionContent li {
    margin-left: -50px;
  }
}

.sectionContent a {
  color: var(--primary-green);
}
