html {
  scroll-behavior: smooth;
}
.homePage {
  box-sizing: border-box;
  overflow: hidden;
  border: none;
  margin: 0;
  font-family: "Inter", Tahoma, sans-serif;
  line-height: 1.5;
}

.homePage > * {
  position: relative;
}

.homePage__ourSections {
  background-color: rgb(12, 12, 12);
}

@supports (background-blend-mode: multiply) {
  .homePage__ourSections {
    background: url(../images/temp.jpg),
      radial-gradient(rgba(75, 73, 73, 0.5), rgba(41, 41, 41, 0.5));
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

/*** Apply Button ***/

.homePage__applyButtonBox {
  position: relative;
  height: 50px;
  justify-content: center;
  display: flex;
  text-decoration: none;
}

.homePage__applyButtonLink {
  text-decoration: none;
}

.homePage__applyButton {
  position: relative;
  height: 65px;
  width: 290px;
  color: rgb(241, 244, 247);
  background-color: rgb(6, 7, 6);
  border-radius: 10px;
  margin-top: 40px;
  display: flex;
  transition: transform 250ms ease-in-out;
  /* transition: width 250ms ease-in-out, height 250ms ease-in-out, font-size 250ms ease-in-out, opacity 250ms linear; */
  padding-left: 2px;
  padding-right: 6px;
  justify-content: center;
  font-size: 20px;
  border-radius: 3px;
  padding-top: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}

.homePage__applyButton:hover {
  transform: scale(1.1);
}

.homePage__applyButtonArrow {
  margin-left: 10px;
  width: 20px;
  animation: applyButtonArrow 1.4s ease-in-out infinite;
  padding-top: 8px;
}

@keyframes applyButtonArrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
}

.homePage__applyButtonText {
  padding-top: 8px;
  margin-left: 30px;
  font-family: "Consolas", monaco, monospace;
}


.homePage img {
  max-width: 100%;
  display: block;
}

.homePage__section {
  padding-top: 8em;
  padding-bottom: 5em;
}

.homePage__container {
  width: 85%;
  max-width: 65em;
  margin: 0 auto;
  color: white;
  text-align: center;
}

@media (max-width: 700px) {
  .homePage__container--noVert {
    margin-left: 7.25%;
    margin-right: 7.25%;
  }
}

.homePage__split {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  justify-content: center;
}

.homePage__split > * {
  flex-basis: 30%;
  min-width: 10em;
}

.homePage__btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--clr-text, white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  border-width: 0px;
  background-color: var(--primary-green);
  width: 300px;
  min-height: 40px;
  transition: transform 250ms ease-in-out;
  /* transition: width 250ms ease-in-out, height 250ms ease-in-out, font-size 250ms ease-in-out, opacity 250ms linear; */
  padding: 8px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.homePage__btn:hover {
  transform: scale(1.1);
  /* font-size: 1.2375rem;
  width: 330px;
  min-height: 44px;
  max-height: 100%; */
}

@media (max-width: 400px) {
  .homePage__btn {
    max-width: 180px;
    padding: 8px 12px;
  }
}

/*** Text ****/

.homePage__text {
  margin: 20px 5px;
  font-size: var(--regular-font);
  color: var(--secondary-grey);
  text-align: left;
}

/****** Titles **********/

.homePage__containerTitle {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  color: var(--primary-green);
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 3rem;
}

@media (max-width: 700px) {
  .homePage__headerSubtitle {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.homePage__headerSubtitle {
  font-size: 3rem;
  font-size: clamp(0.8rem, calc(5vw + 1rem), 4.5rem);
  color: white;
  z-index: 3;
  pointer-events: none;
  /*adjust size to window*/
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 300px;
}

/**** Hero (Landing Page) *****/

.homePage__hero {
  text-align: center;
  height: clamp(700px, 100vh, 1200px);
  display: flex;
  flex-direction: column;
  /* background: radial-gradient(rgb(0, 0, 0), var(--secondary-grey));  */
  /* background-image: fixed url("../images/blackbg2.jpg"),
    llinear-gradient(rgb(0, 0, 0), rgb(1, 115, 68)); */
  position: relative;
}

@supports (background-blend-mode: multiply) {
  .homePage__hero {
    /* background: fixed url("../images/blackbg2.jpg"),
      radial-gradient(rgb(75, 73, 73), rgb(61, 55, 55)); */
    background: radial-gradient(rgb(0, 0, 0) 60%, var(--primary-green) 110%); 
    /* background: linear-gradient(0deg, #243949 0%, #517fa4 100%); */
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.homePage__logoContainer {
  z-index: 3;
  position: relative;
  pointer-events: none;
}

.homePage__logo {
  width: 85%;
  max-width: 800px !important;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/*** About Us *****/

.homePage__section--aboutUs {
  background-color: white;
  text-align: center;
}

.homePage__numberContainer {
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

@media (max-width: 750px) {
  .homePage__numberContainer {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

.homePage__section--featuredProjects {
  background-image: linear-gradient(to bottom, rgb(19, 19, 19), rgb(26, 26, 26));
  padding-top: 20px;
  text-align: center;
}
.homePage__section--team{
  padding-bottom: 0px;
}

/*** Sponsor section ***/

.homePage__section--sponsors {
  /*background-image: linear-gradient(rgba(12, 12, 12, 1), rgb(1, 115, 95));*/
  background-color: white;
  padding-bottom: 150px;
  padding-top: 20px;
}

@media (max-width: 500px) {
  .homePage__section--sponsors {
    padding-bottom: 70px;
  }
}

#homePage__sponsorPackage:hover,
#homePage__sponsorPackage:hover {
  color: var(--primary-green);
  transform: scale(1.2);
}

.homePage__section--events {
  background: linear-gradient(to bottom, white 20%, rgb(19,19,19) 70%);
  padding-bottom: 20px;
}
