

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.homePage {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to bottom, #282c34  5%, #07080A 100%); /*#282c34 */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.homePage__logo{
  width: 55%;
  min-width: 400px;
}

.homePage__construction{
  margin-top: 50px;
  font-size: 1rem;
  font-family: Inter, 'Courier New', Courier, monospace;
}

.homePage__description{
  margin-left: 30px;
  margin-right: 30px;
}
.homePage__cta{
  margin-top: 25px;
  color: #8FDC63;
}

@media(max-width: 450px){
  .homePage__logo{
    min-width: 310px;
  }
}