.Container {
    margin: 10% 10% 30%;
    display: grid;
    grid-template-columns: 20% 20% 20%;
    grid-template-rows: 20% 20% 20%;
    grid-auto-flow: dense;
    grid-column-gap: 20%;
    grid-row-gap: 20%;
}

@media (max-width:500px){
    .Container {
        margin: 10% 10% 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-column-gap: auto;
        grid-row-gap: 5%;
        justify-content: center;
    }
}