.SubscribeButton {
    background: none;
    color: #282A36;
    border: 0.1em solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.SubscribeButton:hover{
    border-color: white;
    color:white;
    box-shadow: 0 0.5em 0.5em -0.4em white; /* offset-x | offset-y | blur-radius | spread-radius | color*/
    transform: translateY(-0.25em);
    cursor: pointer;
}

@media (max-width:500px){
    .SubscribeButton{
        padding: 0.25em 0.5em;
        font-size:0.7em;
    }
}