.applyPage__applicationContent {
  padding: 20px;
  border-radius: 10px;
  color: rgb(20, 20, 20);
  text-align: center;
  margin-bottom: 40px;
  position: relative;
  margin: 1%;
  justify-content: center;
  margin-bottom: 40px;

  /*
  .applyPage__applicationContent li {
    margin-bottom: 55px;
  }
  
  .applyPage__applicationContent button {
    position: absolute;
    bottom: 13px;
    left: 30%;
    margin: auto;
  }
  */
}

.applyPage__applicationContent h3 {
  font-size: clamp(16px, calc(0.15vw + 16px), 22px);
  text-transform: capitalize;
  line-height: 30px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
}

.applyPage__applicationContent h2 {
  font-size: clamp(24px, calc(0.15vw + 24px), 30px);
  font-weight: 500;
  text-transform: capitalize;
  line-height: 30px;
  margin: 10px 0;
}
.applyPage__applicationContent p {
  font-size: clamp(16px, calc(0.15vw + 16px), 22px);
  line-height: 30px;
  font-weight: 300;
}
@media (min-width: 800px) {
  .applyPage__applicationContent {
    position: relative;
    min-height: max-content;
    width: 30%;
    margin: 1%;
    justify-content: center;
    color: rgb(20, 20, 20);
    background-color: rgb(255, 255, 255);
  }
}
