/*.projectItem {
    display: block;
    position: relative;
    transform: scale(0.9);
    transition: transform 250ms ease-in-out;
    transition: opacity 250ms linear;
    text-decoration: none;
    color: white;
    text-align: center;
    opacity: 0.75;
  }
  .projectItem:hover,
  .projectItem:focus {
    transform: scale(0.95);
    opacity: 1;
  }
  
  .projectItem__details {
    opacity: 0;
    transition: opacity 250ms linear;
  }
  .projectItem:hover .projectItem__Details,
  .projectItem:focus .projectItem__Details {
    opacity: 1;
  }
  .projectItem img {
    border-radius: 1em;
  }
  .projectItem span {
    display: block;
    font-weight: 700;
    font-size: clamp(1.5rem, calc(1vw + 1rem), 3rem);
    text-transform: uppercase;
  }*/

.featuredProjectSection {
  text-decoration: none;
  color: white;
}

.featuredProject {
  height: auto;
}

.project__container {
  border-radius: 20px; /* Change this to image, probably */
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background: linear-gradient(180deg, rgb(26, 25, 25), rgb(40, 46, 51));
}

.project__content {
  /* We can change this, but position should be absolute still */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  font-size: var(--regular-font);
  color: white;
  top: 30%;
  left: 10%;
  right: 10%;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

@media (max-width: 400px) {
  .project__button {
    transform: scale(0.7);
    position: relative;
    top: -20px;
  }
}

.project__button {
  border: 3px solid var(--primary-green);
  background-color: rgb(43, 48, 53);
  border-radius: 30px;
  width: 40%;
  height: 30px;
  padding-top: 7px;
  margin: auto;
  margin-top: 20px;
  transition: 200ms;
}

.project__content a {
  color: white;
  text-decoration: none;
}
.project__button:hover,
.project__button:focus {
  background-color: var(--primary-green);
}
.project__image--transparent {
  opacity: 0.4;
}
.project__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.project__description--visible {
  opacity: 1;
  
}
.featuredProjectImage {
  border-radius: 10px;
  opacity: 1;
}

.featuredProjectDescription {
  bottom: 150px;
  position: relative;
  opacity: 0;
  padding: 10px;
}

.featuredProjectContainer {
  height: 100%;
  width: 100%;
  background-color: lightsalmon;
}
