/*.projectItem {
    display: block;
    position: relative;
    transform: scale(0.9);
    transition: transform 250ms ease-in-out;
    transition: opacity 250ms linear;
    text-decoration: none;
    color: white;
    text-align: center;
    opacity: 0.75;
  }
  .projectItem:hover,
  .projectItem:focus {
    transform: scale(0.95);
    opacity: 1;
  }
  
  .projectItem__details {
    opacity: 0;
    transition: opacity 250ms linear;
  }
  .projectItem:hover .projectItem__Details,
  .projectItem:focus .projectItem__Details {
    opacity: 1;
  }
  .projectItem img {
    border-radius: 1em;
  }
  .projectItem span {
    display: block;
    font-weight: 700;
    font-size: clamp(1.5rem, calc(1vw + 1rem), 3rem);
    text-transform: uppercase;
  }*/

.featuredProjectSection {
  text-decoration: none;
  color: white;
}

.featuredProject {
  transition: 200ms linear;
  height: auto;
}

.featuredProjectImage {
  border-radius: 10px;
  opacity: 1;
}

.featuredProject:hover,
.featuredProjectImage {
  opacity: 0.7;
  transform: scale(0.97);
}

.featuredProjectDescription {
  bottom: 150px;
  position: relative;
  opacity: 0;
  padding: 10px;
}

.featuredProject:hover + .featuredProjectDescription {
  opacity: 1;
}

.featuredProjectContainer {
  height: 100%;
  width: 100%;
  background-color: lightsalmon;
}
