.projectSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 500px));
  margin-left: 20px;
  margin-right: 20px;
  column-gap: 15px;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  padding-bottom: 10px;
  padding-top: 50px;
}

@media(min-width: 1575px){
  .projectSection{
    grid-template-columns: repeat(auto-fit, minmax(200px, 650px));
  }
}
