.projectSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
  column-gap: 100px;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 50px;
}
