.event {
  background-color: white;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 0, 0.4);
  padding: 3% 3%;
}

.eventImgLeft, .eventImgRight {
  margin: 2%;
  width:60%;
}

.eventImgLeft {
  float: left;
  clear:right;
}

.eventImgRight {
  float: right;
}

.datetime_Button_Div {
  height: clamp(6vh, 6vh + 7%, 12vh);
}

.datetime_Button_Div p {
  margin-bottom: 3vh;
}

@media (max-width: 750px) {
  .eventText {
    padding: 0% 0%;
    margin-top: 5%;
  }

  .datetime_Button_Div p {
    margin-bottom: 0vh;
  }

  .eventImgLeft, .eventImgRight {
    width: 100%;
    float: none;
    margin: 0%;
  }
}