.event {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 300px;
}

.eventImgDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.eventImg {
  width:100% !important;
  height:auto !important;
  padding:0% !important;
  margin:auto !important;
}

.eventText {
  overflow: auto;
  padding: 8% 5%
}

.eventImgDiv {
  padding: 2% 2%;
}

.datetime_Button_Div {
  height: clamp(6vh, 6vh + 7%, 12vh);
}

.datetime_Button_Div p {
  margin-bottom: 3vh;
}

@media (max-width: 750px) {
  .eventText {
    padding: 0% 5%;
  }

  .event {
    grid-template-columns: repeat(1, 100%);
  }

  .datetime_Button_Div p {
    margin-bottom: 0vh;
  }
}
