.eventsSection_container {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.upcomingEvents_container,
.pastEvents_container {
  display: flex;
  flex-wrap: wrap;
}