.ProfileDiv {
    width:100%;
    height:100%;
    display:block;
    align-items: center;  
    justify-content: center; 
}

.ProfileIconDiv{
    width:100%;
    transition: 0.4s ease-in-out;
}

.ProfileIcon {
    width:100%;
    height:100%;
    
    filter: brightness(100%);
    transition: 0.4s ease-in-out;
    background-size: cover;
    background-color: white;
    border-radius:50%;
}

.ProfileIcon:hover {
    filter: brightness(70%);
    transition: 0.4s ease-in-out;
}

.LinksSection {
    visibility: hidden;
    opacity:0;
    transition: 0.4s ease-in-out;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;  
    justify-content: center;
    transform:translateY(-8.5vw);
    font-size: 1vw;
}

.LinkSection--Translate--Small {
    transform:translateY(-8vw);
}

.LinkSection--Hover, .LinkSection--CarouselView {
    visibility:visible;
    opacity:1;
}

.LinkSection--CarouselView {
    transform:translateY(1vw) !important;

}

@media (max-width:750px){
    .LinksSection {
        font-size: 3vw;
        transform:translateY(-35vw);
    }
}

@media (max-width:650px){
    .LinksSection {
        transform:translateY(-32vw);
    }
}

@media (max-width:500px){
    .LinksSection {
        transform:translateY(-30vw);
    }
}

@media (max-width:450px){
    .LinksSection {
        transform:translateY(-28vw);
    }
}
  
@media (max-width:400px){
    .LinksSection {
        transform:translateY(-26vw);
    }
}

@media (max-width:350px){
    .LinksSection {
        transform:translateY(-24vw);
    }
}