.applyPage__accordionContainer {
  width: 100%;
  margin: auto;
}
.applyPage__accordion {
  width: 100%;
  border-bottom: 0.5px solid rgb(148, 148, 148);
}

.applyPage__accordion:last-of-type {
  border-bottom: none;
}

.applyPage__accordionHeading {
  padding: 12px 0;
  cursor: pointer;
}

.applyPage__accordionHeading .applyPage__accordionContainer {
  display: flex;
  justify-content: left;
}

.applyPage__accordionHeading p {
  font-size: clamp(18px, calc(0.25vw + 18px), 22px);
  font-weight: 520;
  color: white;
  margin: 0;
  padding-right: 2vw;
}
.applyPage__accordionHeading span {
  font-size: 27px;
  position: absolute;
  transform: translateY(-6.5px);
  right: 8%;
  color: var(--primary-green, rgb(106, 235, 80));
  text-shadow:  rgb(74, 241, 8);

}
@media (max-width: 850px) {
  .applyPage__accordionHeading span {
    right: 11vw;
  }
  .applyPage__accordionHeading p {
    padding-right: 6vw;
  }
}
.applyPage__accordionContent.applyPage__accordionShow {
  max-height: 120vh;
  opacity: 1;
}
.applyPage__accordionContent {
  max-height: 0;
  opacity: 0;
  display: flex;
  overflow: hidden;
  transition: all 0.8s ease-in-out;
  transition-delay: 0s;
}

.applyPage__accordionContent p {
  margin: 0 15px 30px 15px;
  font-size: clamp(12px, calc(0.2vw + 12px), 16px);
  color: rgb(207, 207, 207);
  line-height: 23px;
  font-weight: 400;
}

.applyPage__projectIntroContainer {
  height: fit-content;
}
