.SocialMediaIcon {
  margin: 0 1em;
  transition: 0.3s ease-in-out;
  display: inline-block;
}

.SocialMediaIcon-FooterColor {
  color: #d1d3e0;
}

.SocialMediaIcon-DefaultColor {
  color: var(--primary-green);
}

.SocialMediaIcon:hover {
  transform: translateY(-0.25em);
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em white; /* offset-x | offset-y | blur-radius | spread-radius | color*/
}

.SocialMediaIcon--NoHovorColor:hover {
  color: var(--primary-green) !important;
}
