.Footer {
  background-color: #99e755;
  /* background-image: linear-gradient( #282A36, #99E755); */
  color: var(--primary-black);
  padding: 2rem 0rem;

  font-size: clamp(0.8rem, calc(2vw + 0.2rem), 1rem);
  width: 100%;
  height: 5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.SocialMediaSection {
  padding: 25px clamp(10px, 5vw, 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 785px) {
  .Footer {
    display: block;
    padding: 0em;
    height: 12rem;
  }

  .SocialMediaSection {
    margin-top: 0em;
    margin-bottom: 1.5em;
    padding-top: 1em;
  }

  .Copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 785px) {
  .hoverButton {
    width: 175px;
    margin-left: auto;
    margin-right:auto;
    transform: scale(0.8);

  }
}

@media (max-width: 785px) {
  .Copyright {
    transform: translateY(-30px);
  }
}


@media (max-width: 555px) {
  .Footer {
    display: block;
    padding: 0em;
    height: 10rem;
  }
}
