.Footer{
    background-color: #99E755;
    /* background-image: linear-gradient( #282A36, #99E755); */
    margin-top: 1rem;
    padding: 2rem 0rem;
    position:relative;
    bottom: 0px;
    
    width:100%;
    height: 50px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
  }

.SocialMediaSection {
  padding: 25px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width:1020px){
  .Footer {
    padding:1.5em 0em;
  }
  .Copyright{
    font-size: 0.9em;
  }
}

@media (max-width:975px){
  .SocialMediaSection {
    padding: 25px 180px;
  }
  .Footer {
    padding: 1em 0em;
  }
  .Copyright{
    font-size: 0.7em;
  }
}

@media (max-width:890px){
  .Copyright{
    font-size: 0.65em;
  }

  .SocialMediaSection {
    padding: 25px 170px;
  }
}

@media (max-width:835px){

  .SocialMediaSection {
    padding: 25px 150px;
  }
}

@media (max-width:750px){
  .SocialMediaSection {
    padding: 25px 100px;
  }
}

@media (max-width:650px){
  .Copyright{
    font-size: 0.6em;
  }
  .SocialMediaSection {
    padding: 20px 80px;
  }
}

@media (max-width:610px){
  .SocialMediaSection {
    padding: 20px 50px;
  }
}

@media (max-width:550px){
  .SocialMediaSection {
    padding: 20px 25px;
  }
}

@media (max-width:500px){
  .Footer {
    padding:0em;
    margin-top:250%;
  }
  .SocialMediaSection {
    padding: 10px 20px;
  }
}

@media (max-width:550px){
  .Footer {
    width:100%;
  }
}

@media (max-width:400px){
  .SocialMediaSection {
    padding: 5px 0px;
  }
  .Copyright{
    font-size: 0.5em;
  }
}








