.ProfileDescription {
    width: 100%;
    display:inline-block;
    align-self: center;
    text-align: center;
    margin-top: 1.5em;
}

.ProfileDescription--carousel{
    margin-top: 1.5em;
}

.profileDescription__name, .profileDescription__subtitle {
    margin:0%;
    font-family: "Inter", Tahoma, sans-serif;
}

.profileDescription__name {
    color: var(--primary-black);
    font-size: 1.5rem;
    font-weight: 900;
}

.profileDescription__subtitle {
    /* color: var(--primary-green); */
    color: var(--secondary-grey);
    font-weight: 300;
    font-size: 1.1rem;
}

@media (max-width: 950px) and (min-width: 650px){
    .profileDescription__name{
        font-size: 1.1rem;
    }
    
    .profileDescription__subtitle{
        font-size: 0.95rem;
    }
}

/* @media (max-width:1500px){
    .Bio__name {font-size: 1.2rem}
    .Bio__subtitle {font-size: 1rem}
}

@media (max-width:1200px){
    .Bio__name {font-size: 1rem}
    .Bio__subtitle {font-size: 0.8rem}
}

@media (max-width:1000px){
    .Bio__name {font-size: 0.8rem}
    .Bio__subtitle {font-size: 0.6rem}
}

@media (max-width:750px){
    .Bio__name {font-size: 1.6em}
    .Bio__subtitle {font-size: 1.2rem}
    .ProfileDescription {margin-top: 3%;}
}

@media (max-width:450px){
    .Bio__name {font-size: 1rem}
    .Bio__subtitle {font-size: 0.8rem}
} */