/**Default layout*/
.Container {
  margin: 50px, 10%, 50px, 10%;
  display: grid;
  max-width: 1400px;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5em;
  grid-row-gap: 30px;
}

.TeamContainer {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1400px;
  position: relative;
}

/**Carousel layout*/

.Carousel {
  margin: 15% auto;
}

/* Overriding CSS rules in react-elastic-carousel */

button.rec-dot {
  background-color: var(--primary-black);
  box-shadow: v0 0 1px 2px var(--primary-black);
}

button.rec-dot:hover {
  box-shadow: 0 0 1px 3px var(--primary-green);
}

button.rec-dot_active {
  background-color: var(--primary-green);
  box-shadow: v0 0 1px 2px var(--primary-green) !important;
}
button.rec-arrow {
  background-color: white;
  box-shadow: none;
  font-size: 4rem;
  font-family: sans-serif;
}

.rec.rec-arrow:hover:enabled,
.rec.rec-arrow:active:enabled,
.rec.rec-arrow:focus:enabled {
  background-color: white !important;
  box-shadow: none;
  color: #333;
}

.rec-carousel-item:focus:enabled {
  outline: none;
  box-shadow: none;
}

/* Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
button.rec-dot,
.rec.rec-arrow {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
