/* html { */
    /* height:fit-content; */
    /* background-color: #081C15; */
    /* display: block; */
/* } */
  

.TeamSection {
    margin: 10%;
    width: 80%;
    min-height:auto;
    transform: translateY(10%);
}