.TeamSection {
  padding-bottom: 50px;
}

.TeamSection__margin {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.applyLinkDiv {
  transition: 0.4s ease-in-out;
}

.applyLink {
  color: var(--primary-green);
  font-style: italic;
}

.applyLinkDiv:hover {
  transform: scale(1.1);
}
